//   Created by esskov on 04.06.2015.

// p Ошибка #{errorText}, турдитесь

doctype html
html
    head
        title Еггог
        meta(charset="utf-8")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/style.css")
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
    body
        .modal.fade#modalError
            .modal-dialog
                .modal-content
                    .modal-header
                        .h3.modal-title Случилась ошибка
                    .modal-body
                        p #{errorText}, турдитесь
                    .modal-footer
                        button.btn.btn-danger(data-dismiss="modal") Понятно, щас исправлюсь